name: Build and Push Container Image

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          config-inline: |
            [registry."docker.io"]
              mirrors = ["registry-1.kagesenshi.org"]

      - name: Login to Registry
        uses: docker/login-action@v3
        with:
          registry: registry.kagesenshi.org
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            registry.kagesenshi.org/datastory-collector:latest
            registry.kagesenshi.org/datastory-collector:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
